In [1]:
import pandas as pd

In [2]:
# Load the cleaned dataset (after filling missing AQI values)
cleaned_path = "../data/processed/cleaned_pollutants_sorted.csv"
df = pd.read_csv(cleaned_path)

# Convert 'Date Local' to datetime if needed
df['Date Local'] = pd.to_datetime(df['Date Local'], errors='coerce')

# Summary of missing values for AQI columns
missing_so2_aqi = df['SO2 AQI'].isnull().sum()
missing_co_aqi = df['CO AQI'].isnull().sum()

print(f"Missing SO2 AQI values after estimation: {missing_so2_aqi}")
print(f"Missing CO AQI values after estimation: {missing_co_aqi}")

# Show some rows with missing SO2 or CO AQI (should be very few or none)
print("\nRows with missing SO2 AQI:")
print(df[df['SO2 AQI'].isnull()].head())

print("\nRows with missing CO AQI:")
print(df[df['CO AQI'].isnull()].head())

# Optional: Verify that the estimated AQI values correspond to the compute_aqi function logic
# For example, show rows where original AQI was missing but Mean values exist
print("\nSample rows where SO2 AQI was estimated:")
print(df[(df['SO2 AQI'].notnull()) & (df['SO2 Mean'].notnull())].sample(5))

print("\nSample rows where CO AQI was estimated:")
print(df[(df['CO AQI'].notnull()) & (df['CO Mean'].notnull())].sample(5))

# Quick statistics summary for SO2 and CO AQI columns
print("\nSO2 AQI stats:")
print(df['SO2 AQI'].describe())

print("\nCO AQI stats:")
print(df['CO AQI'].describe())

Missing SO2 AQI values after estimation: 0
Missing CO AQI values after estimation: 0

Rows with missing SO2 AQI:
Empty DataFrame
Columns: [Unnamed: 0, State Code, County Code, Site Num, Address, State, County, City, Date Local, NO2 Units, NO2 Mean, NO2 1st Max Value, NO2 1st Max Hour, NO2 AQI, O3 Units, O3 Mean, O3 1st Max Value, O3 1st Max Hour, O3 AQI, SO2 Units, SO2 Mean, SO2 1st Max Value, SO2 1st Max Hour, SO2 AQI, CO Units, CO Mean, CO 1st Max Value, CO 1st Max Hour, CO AQI, SO2_AQI_missing, CO_AQI_missing]
Index: []

[0 rows x 31 columns]

Rows with missing CO AQI:
Empty DataFrame
Columns: [Unnamed: 0, State Code, County Code, Site Num, Address, State, County, City, Date Local, NO2 Units, NO2 Mean, NO2 1st Max Value, NO2 1st Max Hour, NO2 AQI, O3 Units, O3 Mean, O3 1st Max Value, O3 1st Max Hour, O3 AQI, SO2 Units, SO2 Mean, SO2 1st Max Value, SO2 1st Max Hour, SO2 AQI, CO Units, CO Mean, CO 1st Max Value, CO 1st Max Hour, CO AQI, SO2_AQI_missing, CO_AQI_missing]
Index: []

[0 rows x 31 columns]

Sample rows where SO2 AQI was estimated:
         Unnamed: 0  State Code  County Code  Site Num  \
451984        41362           6           95         4
960857        69344          20          209        21
1317151       80227          40          143      1127
504018        13840           6           13         2
562707        27309           6           65      8001

                                        Address       State        County  \
451984                         304 TUOLUMNE ST.  California        Solano
960857   1210 N. 10TH ST.,JFK RECREATION CENTER      Kansas     Wyandotte
1317151                      3520 1/2 N. PEORIA    Oklahoma         Tulsa
504018                   2956-A TREAT BOULEVARD  California  Contra Costa
562707             5888 MISSION BLVD., RUBIDOUX  California     Riverside

                City Date Local          NO2 Units  ...  SO2 1st Max Value  \
451984       Vallejo 2009-05-09  Parts per billion  ...                2.0
960857   Kansas City 2011-05-01  Parts per billion  ...                7.5
1317151        Tulsa 2009-06-04  Parts per billion  ...                0.7
504018       Concord 2010-11-20  Parts per billion  ...                0.4
562707      Rubidoux 2012-07-17  Parts per billion  ...                0.1

         SO2 1st Max Hour  SO2 AQI           CO Units   CO Mean  \
451984                  2      3.0  Parts per million  0.286957
960857                  1     10.0  Parts per million  0.500000
1317151                 6      0.0  Parts per million  0.288333
504018                 11      0.0  Parts per million  0.395652
562707                 17      0.0  Parts per million  0.200000

         CO 1st Max Value  CO 1st Max Hour  CO AQI  SO2_AQI_missing  \
451984               0.30                0     3.0                0
960857               0.70               19     6.0                0
1317151              0.82               22     3.0                0
504018               0.40                0     4.0                0
562707               0.20                0     2.0                0

        CO_AQI_missing
451984               0
960857               0
1317151              0
504018               0
562707               0

[5 rows x 31 columns]

Sample rows where CO AQI was estimated:
         Unnamed: 0  State Code  County Code  Site Num  \
237631         9046           6           13      3001
878424        53240          17           31      4201
530985        23675           6           37      4002
1333362       99319          40          143      1127
658548         8422           6            1        11

                                      Address       State        County  \
237631             583 W. 10TH ST., PITTSBURG  California  Contra Costa
878424                        750 DUNDEE ROAD    Illinois          Cook
530985   3648 N. LONG BEACH BLVD., LONG BEACH  California   Los Angeles
1333362                    3520 1/2 N. PEORIA    Oklahoma         Tulsa
658548                       1100 21st Street  California       Alameda

               City Date Local          NO2 Units  ...  SO2 1st Max Value  \
237631    Pittsburg 2003-06-03  Parts per billion  ...               11.0
878424   Northbrook 2009-07-11  Parts per billion  ...                0.4
530985   Long Beach 2011-08-14  Parts per billion  ...                1.9
1333362       Tulsa 2015-02-07  Parts per billion  ...                1.1
658548      Oakland 2015-04-22  Parts per billion  ...                2.5

         SO2 1st Max Hour  SO2 AQI           CO Units   CO Mean  \
237631                 14     16.0  Parts per million  0.813043
878424                 11      0.0  Parts per million  0.179167
530985                 20      1.0  Parts per million  0.229167
1333362                11      1.0  Parts per million  0.200000
658548                 14      1.0  Parts per million  0.373913

         CO 1st Max Value  CO 1st Max Hour  CO AQI  SO2_AQI_missing  \
237631                1.0                6     9.0                0
878424                0.3                0     3.0                0
530985                0.3                9     3.0                0
1333362               0.2                0     2.0                0
658548                0.4                0     4.0                0

        CO_AQI_missing
237631               0
878424               0
530985               0
1333362              0
658548               0

[5 rows x 31 columns]

SO2 AQI stats:
count    1.746661e+06
mean     4.900860e+00
std      9.143709e+00
min      0.000000e+00
25%      0.000000e+00
50%      2.000000e+00
75%      6.000000e+00
max      2.000000e+02
Name: SO2 AQI, dtype: float64

CO AQI stats:
count    1.746661e+06
mean     5.077937e+00
std      4.922263e+00
min      0.000000e+00
25%      2.000000e+00
50%      4.000000e+00
75%      6.000000e+00
max      2.010000e+02
Name: CO AQI, dtype: float64

In [3]:
# Check how many values were imputed
so2_imputed = df["SO2_AQI_missing"].sum()
co_imputed = df["CO_AQI_missing"].sum()

print(f"SO2 AQI values imputed: {so2_imputed}")
print(f"CO AQI values imputed: {co_imputed}")

SO2 AQI values imputed: 10756
CO AQI values imputed: 590

In [4]:
# Display some imputed rows
df_imputed = df[(df["SO2_AQI_missing"] == 1) | (df["CO_AQI_missing"] == 1)]
df_imputed[["Date Local", "State", "City", "SO2 Mean", "SO2 AQI", "SO2_AQI_missing", "CO Mean",
             "CO AQI", "CO_AQI_missing"]].head(10)

,Date Local,State,City,SO2 Mean,SO2 AQI,SO2_AQI_missing,CO Mean,CO AQI,CO_AQI_missing
18,2013-12-05,Alabama,Birmingham,NaN,4.90086,1,0.126818,1.0,0
19,2013-12-05,Alabama,Birmingham,NaN,4.90086,1,0.108333,2.0,0
22,2013-12-06,Alabama,Birmingham,NaN,4.90086,1,0.139545,2.0,0
23,2013-12-06,Alabama,Birmingham,NaN,4.90086,1,0.141667,2.0,0
34,2013-12-09,Alabama,Birmingham,NaN,4.90086,1,0.128500,1.0,0
35,2013-12-09,Alabama,Birmingham,NaN,4.90086,1,0.127778,3.0,0
90,2013-12-23,Alabama,Birmingham,NaN,4.90086,1,0.058500,1.0,0
91,2013-12-23,Alabama,Birmingham,NaN,4.90086,1,0.088889,2.0,0
218,2014-03-09,Alabama,Birmingham,NaN,4.90086,1,0.264545,3.0,0
219,2014-03-09,Alabama,Birmingham,NaN,4.90086,1,0.329167,8.0,0